language: node_js
node_js:
  - "4"
before_script:
  - wget http://www.browserstack.com/browserstack-local/BrowserStackLocal-linux-x64.zip
  - unzip BrowserStackLocal-linux-x64.zip
  - ./BrowserStackLocal $BS_KEY -v -force > ~/tmp.log &
script:
  - npm run test_travis
  - npm run build:skip_tests
  - cat ~/tmp.log
  - TEST_WEBSERVER="dist" TEST_BROWSER="browserstack:IE11:windows" npm run feature_tests
  - TEST_WEBSERVER="dist" TEST_BROWSER="browserstack:chrome:osx" npm run feature_tests
  - TEST_WEBSERVER="dist" TEST_BROWSER="browserstack:firefox:osx" npm run feature_tests
